page-clients-list {
    .btn-client-item-list{
        display: inline-table;
        .client-content-item-list {
            display: inline-block;
        }
        ion-icon {
            display: inline-block;
            font-size: 3.0em;
        }
    }
    ion-icon {
        display: inline-block;
        font-size: 2.0em;
    }
}
  